@import url("https://webfontworld.github.io/goodchoice/Jalnan.css");
@import url(https://fonts.googleapis.com/css?family=Nunito:700);

em {
    font-style: normal;
}
.memory__wrap {
    display: flex;
    justify-content: center;
    transform: translateY(100px);
    position: relative;
}
.memory__wrap.close {
    display: none;
}
.memory__inner {
    width: 678px;
    height: 678px;
    border: 4px solid #fff;
    border-right: 0;
    background: #eece9d;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 0.2rem #dda550;
    position: relative;
}
.memory__card {
    padding: 20px;
}
.memory__card .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.memory__card .cards li {
    list-style: none;
    width: 150px;
    height: 150px;
    /* background: #fff; */
    position: relative;
    transform-style: preserve-3d;
    perspective: 500px;
}
.memory__card .cards li img {
    width: 100%;
}
.memory__card .cards li .view {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    /* box-shadow: 1px 1px 3px 1px #f5f5f5; */
    backface-visibility: hidden;
    padding: 10%;
    border-radius: 20px;
    transition: all 0.6s;
    user-select: none; /* 이 두 개로 클릭시 이벤트 버블링 방지*/
    pointer-events: none;
}

.memory__card .cards li .front {
    transform: rotateY(0deg);
}
.memory__card .cards li.flip .front {
    transform: rotateY(180deg);
}
.memory__card .cards li .back {
    transform: rotateY(-180deg);
}
.memory__card .cards li.flip .back {
    transform: rotateY(0deg);
}
.memory__card .cards li.shakeX {
    animation: shakeX 1s 1;
}
.memory__card .cards li.shakeY {
    animation: shakeY 1s 1;
}

@keyframes shakeX {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}
.animate__shakeX {
    animation-name: shakeX;
}

@keyframes shakeY {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(0, -10px, 0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate3d(0, 10px, 0);
    }
}
.animate__shakeY {
    animation-name: shakeY;
}

.memory__pannel {
    width: 400px;
    height: 678px;
    border: 4px solid #fff;
    border-left: 2px dashed #dda550;
    background: #eece9d;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 0.2rem #dda550;
}

.memory__pannel__inner {
    padding: 20px;
}

.memory__gameTitle {
    height: 250px;
    background: linear-gradient(180deg, #5ee0f7, rgb(231, 238, 231));
    margin-bottom: 30px;
    position: relative;
    border-radius: 20px;
}
.memory__gameTitle::before {
    content: "";
    width: 100%;
    height: 100%;
    border: 4px solid #f3b427;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
.memory__gameTitle .memory__titleBox {
    padding-top: 20px;
}
.memory__gameTitle .memory__titleBox h3 {
    font-size: 50px;
    text-align: center;
    line-height: 1.2;
    font-family: "Jalnan";
    color: #fff;
    text-shadow: -4px 0 #49a7d3, 0 4px #49a7d3, 4px 0 #49a7d3, 0 -4px #49a7d3;
}
.catani {
    position: absolute;
    left: 23%;
    top: 33%;
}
.memory__gamecont {
    width: 300px;
    height: 350px;
    background: #f8fae5;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}
.memory__gamecont::before {
    content: "";
    width: 100%;
    height: 100%;
    border: 4px solid #f3b427;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
.memory__contBox {
}
.memory__timer {
    margin-top: 40px;
    margin-bottom: 40px;
}
.memory__timer__name {
    font-family: "Jalnan";
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}
.memory__timer__sec {
    width: 100%;
    text-align: center;
    font-size: 25px;
    width: 230px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
}

.memory__startBtn {
    display: inline-block;
    display: flex;
    justify-content: center;
}
.memory__startBtn button {
    color: #d3a653;
    font-family: "Jalnan";
    border: 0;
    background-color: inherit;
    font-size: 45px;
    position: relative;
    display: block;
    overflow: hidden;
    width: 90%;
    height: 80px;
    margin: 1rem auto;
    border: 4px solid #d3a653;
    border-radius: 20px;
    z-index: 1;
    transition: 0.5s ease-in-out;
}
.memory__startBtn button em {
    color: #d3a653;
    font-family: "Jalnan";
    transition: 0.5s ease-in-out;
}

.memory__startBtn button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f3b427;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
    z-index: -1;
}
.memory__startBtn button:hover em {
    color: #fff;
    animation: switch 1s infinite 0.6s; 
}
.memory__startBtn button:hover:before {
    transform: translateX(0);
}
@keyframes switch {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.memory__alert {
    width: 500px;
    height: 300px;
    background-color: #f5f5f5;
    border: 4px solid #f3b427;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.memory__alert__inner {
    padding: 30px;
    text-align: center;
}
.memory__alert__inner > p {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 700;
}
.memory__alert__inner > span {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eba64d;
    border-radius: 10px;
    font-size: 25px;
    margin-bottom: 15px;
    color: #fff;
}
.memory__alert__inner > span em {
    color: #08041d;
}
.memory__alert__inner .score__text {
    font-size: 25px;
    margin-bottom: 15px;
}
.memory__alert__inner .score__text .lowScore {
    color: #251e0d;
}
.memory__alert__inner .score__text .highScore {
    color: #9c602e;
}
.memory__alert__inner .score__text .peferctScore {
    color: #cc3f3f;
}
.scoreClose {
    font-size: 20px;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 10px;
    background-color: #eba64d;
    border: 2px solid #9c602e;
    cursor: pointer;
}









/* 로딩애옹 */
.loading__cat {
position: relative;
width: 100%;
max-width: 20em;
overflow: hidden;
background-color: #e6dcdc;
}
.loading__cat::before {
content: "";
display: block;
padding-bottom: 100%;
}
.loading__cat:hover > * {
-webkit-animation-play-state: paused;
        animation-play-state: paused;
}
.loading__cat:active > * {
-webkit-animation-play-state: running;
        animation-play-state: running;
}

.cat__body, .cat__tail, .cat__head {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
-webkit-animation: rotating 2.79s cubic-bezier(0.65, 0.54, 0.12, 0.93) infinite;
        animation: rotating 2.79s cubic-bezier(0.65, 0.54, 0.12, 0.93) infinite;
}
.cat__body::before, .cat__tail::before, .cat__head::before {
content: "";
position: absolute;
width: 50%;
height: 50%;
background-size: 200%;
background-repeat: no-repeat;
background-image: url("https://images.weserv.nl/?url=i.imgur.com/M1raXX3.png&il");
}

.cat__head::before {
top: 0;
right: 0;
background-position: 100% 0%;
transform-origin: 0% 100%;
transform: rotate(90deg);
}

.cat__tail {
-webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
}
.cat__tail::before {
left: 0;
bottom: 0;
background-position: 0% 100%;
transform-origin: 100% 0%;
transform: rotate(-30deg);
}

.cat__body {
-webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
}
.cat__body:nth-of-type(2) {
-webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
}
.cat__body::before {
right: 0;
bottom: 0;
background-position: 100% 100%;
transform-origin: 0% 0%;
}

@-webkit-keyframes rotating {
from {
    transform: rotate(720deg);
}
to {
    transform: none;
}
}

@keyframes rotating {
from {
    transform: rotate(720deg);
}
to {
    transform: none;
}
}
.loading__box {
display: flex;
flex: 1;
flex-direction: column;
justify-content: flex-start;
justify-content: center;
align-items: center;
background-color: #e6dcdc;
width: 100%;
height: 100%;
border-top-left-radius: 18px;
border-bottom-left-radius: 18px;
position: absolute;
left: 0;
top: 0;;
}
.loading__box.close {
    display: none;
}
.loading__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #EC6D76;
}