<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일러스트레이터01</title>
    <link rel="stylesheet" href="../../javascript/assets/css/style.css">
    <link rel="stylesheet" href="../../javascript/assets/css/dracula.css">

</head>
<body>
    <header id="header">
        <h1><a href="../index.html">Javascript</a></h1>
        <nav class="header_nav">
            <ul>
                <li><a href="../javascript01.html">데이터 저장하기</a></li>
                <li><a href="../javascript02.html">데이터 불러오기</a></li>
                <li><a href="../javascript03.html">데이터 실행하기</a></li>
                <li><a href="../javascript04.html">데이터 제어하기</a></li>
            </ul>
            <ul>
                <li><a href="../javascript05.html">문자열 객체</a></li>
                <li><a href="../javascript06.html">배열 객체</a></li>
                <li><a href="../javascript07.html">수학 객체</a></li>
                <li><a href="../javascript08.html">숫자 객체</a></li>
                <li><a href="../javascript09.html">브라우저 객체</a></li>
                <li><a href="../javascript10.html">요소 객체</a></li>
                <li><a href="../javascript11.html">이벤트 객체</a></li>                
            </ul>
            <ul class="study">
                <li><a href="basic.html">기본 규칙</a></li>
                <li><a href="calculation.html">연산자</a></li>
                <li><a href="for.html">for문</a></li>
            </ul>
        </nav>
    </header>
    <!-- //header -->
    <main id="main">
        <div class="document">
            <h2 class="t_tit">그림 만들기01</h2><br>
            <p class="t_desc2">
                Abobe Illustrator를 이용해 그림을 그리는 방법입니다.
            </p>

            <hr>

            <h3 class="t_tit2" style="font-size: 18px; margin-bottom: 15px;">◎ 토끼 그림 그리기</h3>

            <h3 class="t_tit2" style="font-size: 18px;">▶  선 따라 그리기</h2>
            (스케치1 이미지 + 일러스트 도구 그림1)
            <p class="t_desc" style="margin-top: 15px;">
                이번에 그릴 그림의 스케치입니다. 우선 펜 툴(단축키 p)을 사용해 스케치된 그림의 선을 따라 그립니다.<br>
                먼저 선이 시작될 지점에 점을 찍고 선이 끝나는 지점에 점을 찍으면서 드래그를 하면 자연스러운 곡선은 나타낼 수 있습니다.
            </p>
            <p class="t_desc" style="margin-top: 15px;">
                선을 따라 그린 곡선은 폭 툴(단축키 shift+w)로 선을 클릭 후 너비를 조절해 생동감 있는 라인을 형성할 수 있습니다.
            </p>
            (스케치가 끝난 이미지)

            <h3 class="t_tit2" style="font-size: 18px;">▶  색칠하기</h2>
            (일러스트 도구2)
            <p class="t_desc" style="margin-top: 15px;">
                색칠하기에 앞서 우선 object의 expand 기능으로 속성을 바꿔줘야 합니다. 바꾸기 전에 원본 이미지는 백업을 하는게 중요해요.
                바꿨으면 그 다음 Live paintng -> Make으로 색칠 구역을 지정해야 합니다. 저
            </p>
            <p class="t_desc" style="margin-top: 15px;">
                색칠 구역까지 다 했으면 라이브 페인팅 도구(단축키 k)를 사용해 구역마다 원하는 색을 클릭해 색칠하면 색칠이 끝납니다.<br>
                색칠이 끝났으면 다시 Live paintng -> expand로 색칠 모드를 해제합니다.
            </p>

            <h3 class="t_tit2" style="font-size: 18px;">▶  명암넣기</h2>
            <p class="t_desc" style="margin-top: 15px;">
                마지막으로 다시 한번 펜 툴로 명암을 넣을 구역을 그려 넣고 라이브 페인팅으로 색칠합니다.<br>
                명암 색은 원본 색보다 조금 어두운 색으로 칠하면 자연스럽게 칠할 수 있습니다. 
            </p>

            <h3 class="t_tit2">※ 완성된 그림</h3>
            (완성 이미지)
        </div>
    </main>
    <!-- //main -->
    <footer id="footer">
        <a href="mailto:piowm123@gmail.com">piowm123@gmail.com</a>
    </footer>
    <!-- //footer -->
    <script src="../../javascript/assets/js/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    
    </script>
</body>
</html>