<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>푸터 유형01</title>
    <link rel="stylesheet" href="../../javascript/assets/css/style.css">
    <link rel="stylesheet" href="../../javascript/assets/css/dracula.css">

</head>
<body>
    <header id="header">
        <h1><a href="../index.html">Javascript</a></h1>
        <nav class="header_nav">
            <ul>
                <li><a href="../javascript01.html">데이터 저장하기</a></li>
                <li><a href="../javascript02.html">데이터 불러오기</a></li>
                <li><a href="../javascript03.html">데이터 실행하기</a></li>
                <li><a href="../javascript04.html">데이터 제어하기</a></li>
            </ul>
            <ul>
                <li><a href="../javascript05.html">문자열 객체</a></li>
                <li><a href="../javascript06.html">배열 객체</a></li>
                <li><a href="../javascript07.html">수학 객체</a></li>
                <li><a href="../javascript08.html">숫자 객체</a></li>
                <li><a href="../javascript09.html">브라우저 객체</a></li>
                <li><a href="../javascript10.html">요소 객체</a></li>
                <li><a href="../javascript11.html">이벤트 객체</a></li>                
            </ul>
        </nav>
    </header>
    <!-- //header -->
    <main id="main">
        <div class="document">
            <h2 class="t_tit">사이트 만들기</h2><br>
            <p class="t_desc2">
                이번 사이트는 푸터 유형입니다. 
            </p>

            <hr>

            <h3 class="t_tit2">○ 푸터 유형 01</h2>
            <p class="t_desc">
                푸터 유형은 컨텐츠 최하단에 들어가는 유형으로 사이트맵이나 주소, 이메일, 연락처 등이 주로 들어갑니다. 
            </p>
            <div class="t_iframe" style="min-height: 400px; padding-top: 0;">
                <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FNb3JycwxXqPJJV7wkHV6MT%2F%25EC%2582%25AC%25EC%259D%25B4%25ED%258A%25B8-%25EB%25A7%258C%25EB%2593%25A4%25EA%25B8%25B0%3Fnode-id%3D1115%253A1244" allowfullscreen></iframe>
            </div>
            <h3 class="t_tit2" style="font-size: 18px; margin-bottom: 15px;">▶ HTML 파트</h3>
             <div class="t_code">
<pre><code class="language-css">&lt;footer id="footerType" class="footer__wrap nexon section gray"&gt;
    &lt;h2 class="blind"&gt;푸터 영역&lt;/h2&gt;
    &lt;div class="footer__inner container"&gt;
        &lt;div class="footer__menu"&gt;
            &lt;div&gt;
                &lt;h3&gt;사이트&lt;/h3&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href="/"&gt;웹표준 사이트&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/"&gt;반응형 사이트&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/"&gt;패럴랙스 사이트&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/"&gt;포트폴리오 사이트&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
            &lt;div&gt;
                &lt;h3&gt;헤더 영역&lt;/h3&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href="/"&gt;메뉴 유형 01&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/"&gt;메뉴 유형 02&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;&gt;&lt;a&lt;/a&gt;
            &lt;div&gt;
                &lt;h3&gt;슬라이드 영역&lt;/h3&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href="/"&gt;슬라이드 유형 01&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/"&gt;슬라이드 유형 02&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
            &lt;div&gt;
                &lt;h3&gt;이미지 영역&lt;/h3&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href="/"&gt;이미지 유형 01&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/"&gt;이미지 유형 02&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/"&gt;이미지/텍스트 유형 01&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/"&gt;이미지/텍스트 유형 02&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/"&gt;텍스트 유형 01&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
            &lt;div&gt;
                &lt;h3&gt;컨텐츠 영역&lt;/h3&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href="/"&gt;카드 유형 01&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/"&gt;카드 유형 02&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/"&gt;카드 유형 03&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
            &lt;div&gt;
                &lt;h3&gt;푸터 영역&lt;/h3&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href="/"&gt;푸터 메뉴 유형 01&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/"&gt;푸터 컨택트 유형 02&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/"&gt;푸터 이메일 유형 03&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="footer__right"&gt;
            2022 Webstoryboy. Portfolio is Power&lt;br&gt;
            All rights reserved.
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/footer&gt;
</code></pre>
            </div>

            <h3 class="t_tit2" style="font-size: 18px; margin-bottom: 15px;">▶ CSS 파트</h3>
            <div class="t_code">
<pre><code class="language-css">.footer__menu {
    display: flex;
    margin-bottom: 70px;
}
.footer__menu > div {
    width: 16%;
}
.footer__menu > div h3 {
    font-size: 18px;
    margin-bottom: 20px;
}
.footer__menu li a {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    display: block;
}
.footer__right {
    border-top: 1px solid #d9d9d9;
    text-align: center;
    padding-top: 40px;
    color: #666;
    line-height: 1.5;
}
</code></pre>
           </div>

            <h3 class="t_tit2">※ 완성된 형태</h3>
            <div class="t_iframe" style="min-height: 800px; margin-top: 20px; padding-top: 0;">
                <iframe src="https://mbynae.github.io/coding/site/imgTextType/footerType01.html" frameborder="0"></iframe>
            </div>
            <div class="t_link">
                <a href="https://github.com/mbynae/coding/blob/main/site/imgTextType/footerType01.html" target="_blank">원본 소스 보기</a>
            </div>
        </div>
    </main>
    <!-- //main -->
    <footer id="footer">
        <a href="mailto:piowm123@gmail.com">piowm123@gmail.com</a>
    </footer>
    <!-- //footer -->
    <script src="../../javascript/assets/js/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    
    </script>
</body>
</html>