<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이미지 유형03</title>
    <link rel="stylesheet" href="../../javascript/assets/css/style.css">
    <link rel="stylesheet" href="../../javascript/assets/css/dracula.css">

</head>
<body>
    <header id="header">
        <h1><a href="../index.html">Javascript</a></h1>
        <nav class="header_nav">
            <ul>
                <li><a href="../javascript01.html">데이터 저장하기</a></li>
                <li><a href="../javascript02.html">데이터 불러오기</a></li>
                <li><a href="../javascript03.html">데이터 실행하기</a></li>
                <li><a href="../javascript04.html">데이터 제어하기</a></li>
            </ul>
            <ul>
                <li><a href="../javascript05.html">문자열 객체</a></li>
                <li><a href="../javascript06.html">배열 객체</a></li>
                <li><a href="../javascript07.html">수학 객체</a></li>
                <li><a href="../javascript08.html">숫자 객체</a></li>
                <li><a href="../javascript09.html">브라우저 객체</a></li>
                <li><a href="../javascript10.html">요소 객체</a></li>
                <li><a href="../javascript11.html">이벤트 객체</a></li>                
            </ul>
            <ul class="study">
                <li><a href="basic.html">기본 규칙</a></li>
                <li><a href="calculation.html">연산자</a></li>
                <li><a href="for.html">for문</a></li>
            </ul>
        </nav>
    </header>
    <!-- //header -->
    <main id="main">
        <div class="document">
            <h2 class="t_tit">사이트 만들기</h2><br>
            <p class="t_desc2">
                이번 사이트는 텍스트 유형입니다. 
            </p>

            <div class="t_iframe" style="min-height: 800px; padding-top: 0;">
                <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FNb3JycwxXqPJJV7wkHV6MT%2F%25EC%2582%25AC%25EC%259D%25B4%25ED%258A%25B8-%25EB%25A7%258C%25EB%2593%25A4%25EA%25B8%25B0%3Fnode-id%3D833%253A427" allowfullscreen></iframe>
            </div>

            <h3 class="t_tit2" style="font-size: 18px; margin-bottom: 15px;">이미지 유형 03 코드</h3>

             <div class="t_code">
<pre><code class="language-css">
    &lt;!DOCTYPE html&gt;
    &lt;html lang="ko"&gt;
    &lt;head&gt;
        &lt;meta charset="UTF-8"&gt;
        &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
        &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
        &lt;title&gt;텍스트 유형01&lt;/title&gt;
    
        &lt;style&gt;
            @import url('https://webfontworld.github.io/NexonLv1GothicLow/NexonLv1GothicLow.css');
    
            .font {
                font-family: 'NexonLv1GothicLow';
                font-weight: 400;
            }
    
            /* reset */
            * {
                padding: 0;
                margin: 0;
            }
            h1, h2 ,h3 ,h4 ,h5, h6 {
                font-weight: normal;
            }
            a {
                text-decoration: none;
                color: black;
            }
            img {
                width: 100%;
            }
    
            /* common */
            .container {
                width: 1160px;
                padding: 0 20px;
                margin: 0 auto;
                min-width: 1160px;
                display: flex;
                flex-wrap: wrap;
                justify-content:space-between;
            }
            .section {
                padding: 120px 0;
            }
            .section &gt; h2 {     /* &gt;는 바로 밑에 있는 자식을 의미 */
                font-size: 50px;
                line-height: 1;     /* 피그마에서 lh가 auto인것은 코딩에서 1임 */
                text-align: center;
                margin-bottom: 70px;
            }
            .section &gt; p {
                font-size: 16px;
                line-height: 1;
                text-align: center;
                margin-bottom: 10px;
                text-decoration: underline;
            }
            /* blind : 텍스트를 안보이게 숨기는 방법 */
            .blind {
                position:absolute;
                clip:rect(0 0 0 0);
                width:1px;
                height:1px;
                margin:-1px;
                overflow:hidden;
            }
    
            /* content */
            .box {
                width: 32%;
                height: 260px;
                background-color: #f6f6f6;
            }
            .box:nth-child(1),
            .box:nth-child(2),
            .box:nth-child(3) {
                margin-bottom: 20px;
            }
            .content {
                margin: 20px;
            }
            .logo {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .logo_color1 {
                background: rgba(255, 0, 0, 0.3);
            }
            .logo_color2 {
                background: rgba(255, 245, 0, 0.3);
            }
            .logo_color3 {
                background: rgba(0, 254, 41, 0.3);
            }
            .logo_color4 {
                background: rgba(0, 102, 255, 0.3);
            }
            .logo_color5 {
                background: rgba(158, 0, 255, 0.3);
            }
            .logo_color6 {
                background: rgba(184, 184, 184, 0.3);
            }
            .logo &gt; img {
                width: 24px;
                height: 24px;
    
            }
            .content &gt; h3 {
                font-size: 24px;
                margin-bottom: 10px;
            }
            .content &gt; p {
                font-size: 18px;
                line-height: 1.4;
                color: #666;
                margin-bottom: 20px;
                word-break: keep-all;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3; 
                -webkit-box-orient: vertical;
            }
            .content &gt; span a {
                font-size: 16px;
                color: #666;
                text-decoration: underline;
            }
        &lt;/style&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;section id="textType01" class="section font"&gt;
            &lt;p&gt;테스트 유형01&lt;/p&gt;
            &lt;h2&gt;6가지 색의 연상과 느낌&lt;/h2&gt;
            &lt;div class="container"&gt;
                &lt;article class="box"&gt;
                    &lt;div class="content"&gt;
                        &lt;figure class="logo logo_color1"&gt;
                            &lt;img src="img/img01_logo01.png" alt=""&gt;
                        &lt;/figure&gt;
                        &lt;h3&gt;빨간색(Red)&lt;/h3&gt;
                        &lt;p&gt;
                            색의 3원색 중 하나인 빨간색은 뜨겁고
                            정렬적이며 한편으론 위험하거나 분노하는
                            느낌을 나타냅니다.
                        &lt;/p&gt;
                        &lt;span&gt;&lt;a href="#"&gt;더보기&lt;/a&gt;&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/article&gt;
                &lt;article class="box"&gt;
                    &lt;div class="content"&gt;
                        &lt;figure class="logo logo_color2"&gt;
                            &lt;img src="img/img01_logo02.png" alt=""&gt;
                        &lt;/figure&gt;
                        &lt;h3&gt;노란색(Yellow)&lt;/h3&gt;
                        &lt;p&gt;
                            CYMK의 Y를 담당하는 노란색은 명랑하고
                            활달적이며 달콤한 음식이나 과일의 느낌을 
                            내포하지만 주의와 경고의 느낌도 냅니다.
                        &lt;/p&gt;
                        &lt;span&gt;&lt;a href="#"&gt;더보기&lt;/a&gt;&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/article&gt;
                &lt;article class="box"&gt;
                    &lt;div class="content"&gt;
                        &lt;figure class="logo logo_color3"&gt;
                            &lt;img src="img/img01_logo03.png" alt=""&gt;
                        &lt;/figure&gt;
                        &lt;h3&gt;초록색(Green)&lt;/h3&gt;
                        &lt;p&gt;
                            색의 3원색인 초록색은 숲과 자연을 연상하며
                            평온함과 평화, 안정, 휴식, 젊음 등 마음이
                            진정되는 느낌을 나타냅니다.
                        &lt;/p&gt;
                        &lt;span&gt;&lt;a href="#"&gt;더보기&lt;/a&gt;&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/article&gt;
                &lt;article class="box"&gt;
                    &lt;div class="content"&gt;
                        &lt;figure class="logo logo_color4"&gt;
                            &lt;img src="img/img01_logo04.png" alt=""&gt;
                        &lt;/figure&gt;
                        &lt;h3&gt;파란색(Blue)&lt;/h3&gt;
                        &lt;p&gt;
                            색의 3원색 중 하나인 파란색은 시원한
                            바다와 명쾌하고 상쾌한 느낌을 내지만
                            한편으론 냉정함과 추위의 느낌도 납니다.
                        &lt;/p&gt;
                        &lt;span&gt;&lt;a href="#"&gt;더보기&lt;/a&gt;&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/article&gt;
                &lt;article class="box"&gt;
                    &lt;div class="content"&gt;
                        &lt;figure class="logo logo_color5"&gt;
                            &lt;img src="img/img01_logo05.png" alt=""&gt;
                        &lt;/figure&gt;
                        &lt;h3&gt;보라색(Purple)&lt;/h3&gt;
                        &lt;p&gt;
                            보라색은 신비하고 고귀하고 우아하며 고귀
                            한 느낌 주며 또한 포도같은 달콤한 느낌도 
                            주지만 고독과 외로움을 상징하기도 합니다.
                        &lt;/p&gt;
                        &lt;span&gt;&lt;a href="#"&gt;더보기&lt;/a&gt;&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/article&gt;
                &lt;article class="box"&gt;
                    &lt;div class="content"&gt;
                        &lt;figure class="logo logo_color6"&gt;
                            &lt;img src="img/img01_logo06.png" alt=""&gt;
                        &lt;/figure&gt;
                        &lt;h3&gt;흰색(White)&lt;/h3&gt;
                        &lt;p&gt;
                            흰색은 순백하고 깨끗하며 평화와 조화, 
                            시선집중 같은 주목을 이끄는 느낌을 줍니다.
                        &lt;/p&gt;
                        &lt;span&gt;&lt;a href="#"&gt;더보기&lt;/a&gt;&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/article&gt;
            &lt;/div&gt;
        &lt;/section&gt;
    &lt;/body&gt;
    &lt;/html&gt;
</code></pre>
            </div>
            <h3 class="t_tit2">※ 완성된 형태</h3>
            <div class="t_iframe" style="min-height: 1000px; padding-top: 0;">
                <iframe src="https://mbynae.github.io/coding/site/imageType/imageType03_teacher.html" frameborder="0"></iframe>
            </div>
            <div class="t_link">
                <a href="https://github.com/mbynae/coding/blob/main/site/imageType/imageType03_teacher.html" target="_blank">원본 소스 보기</a>
            </div>
        </div>
    </main>
    <!-- //main -->
    <footer id="footer">
        <a href="mailto:piowm123@gmail.com">piowm123@gmail.com</a>
    </footer>
    <!-- //footer -->
    <script src="../../javascript/assets/js/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    
    </script>
</body>
</html>