//기본색
$black: #000;
$white: #fff;

//배경색 & 폰트색
$bg-basic: #eee; //기본 배경색
$bg-em: #e4e0c5;

$font-basic: #222;
$font-em: #a77b41;


//폰트
$family-basic: "GmarketSans";
$fw300: 300;
$fw00: 500;
$fw700: 700;